h1{
  background-color:#869cff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  text-align: left;
}

h2{
  font-family:arial;
  font-size:15px;
}

h3{
  font-family:arial;
  font-size:15px;
}

h4{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32px;
  text-align: left;
  margin-top: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px solid rgb(0, 0, 0);
}

#latePie, #mapUsagePie, #navigatePie{
  /* float:right; */
  width: 350px;
  height: 350px;
  background-color:rgb(255, 255, 255);
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

/*.chart-wrapper{
    float:right;
    width: 350px;
    height: 350px;
    background-color:lightblue;
}
*/

.image{
    position: absolute;
    top: 0;
    right: 0;
    width:196.63px;
    height:100px;
}

#map{
    float: left;
    width: 100%;
    height: 570px;
    border: 3px solid rgb(0, 0, 0);
}

/*legend: not working*/
.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    line-height: 24px;
    color: #555;
  }
  .legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
  }
  
  .legend span {
    position: relative;
    bottom: 3px;
  }
  
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }
  
  .legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }

/*navigation bar*/  
/* Add a black background color to the top navigation */
.topnav {
  background-color: #ffffff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #323232;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-size: 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #323232;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #869cff;
  color: #323232;
  font-weight: bold;
}
